@import 'vars';
.about {
    height: 100vh;
    width: 100%;
    background: $black;
    position: relative;
    h1 {
        color: #ffffff;
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0;
        text-transform: uppercase;
        width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
        margin-top: 90px;
    }
    p {
        font-size: 1rem;
        color: #ffffff;
        box-sizing: border-box;
        padding: 0 30px;
        font-weight: 500;
    }
    .members {
        width: calc(100vw - 60px);
        height: calc(100vw - 60px);
        display: block;
        margin: 75px 30px 50px;
        article {
            display: inline-block;
            width: calc((100% - 15px) / 2);
            float: left;
            height: calc((100% - 15px) / 2);
            img {
                height: 100%;
                width: 100%;
            }
            &:nth-child(even){
                margin-left: 15px;
            }
            &:nth-child(3), &:nth-child(4){
                margin-top: 15px;
            }
        }
    }
}

@media only screen and (min-width: 500px){
    .about {
        .members {
            width: 440px;
            height: 440px;
            margin: 75px calc((100vw - 440px) / 2) 50px;
        }
    }
}

@media only screen and (min-width: 900px){
    .about {
        .aboutWrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: calc(100% - 100px);
            max-width: 850px;
        }
        .members {
            width: calc(100% - 60px);
            margin: 75px 30px 50px;
            height: auto;
            article {
                width: calc((100% - 60px) / 4);
                height: auto;
                margin-right: 15px;
                &:nth-child(even){
                    margin-left: 0;
                }
                &:nth-child(3), &:nth-child(4){
                    margin-top: 0;
                }
            }
        }

    }
}