@import 'vars';

.home {
    position: relative;
    background: url(../img/home/landing-bg.png) center center no-repeat;
    background-size: cover;
    .slider {
        width: 100%;
        height: auto;
        overflow: hidden;
        position: relative;
        .contentWrap {
            width: 400%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-end;
            transition: .3s $cubic;
            margin-top: 60px;
            .item {
                width: 25%;
                position: relative;
                z-index: 5;
                img {
                    max-width: 100%;
                    max-height: calc(100vh - 120px);
                    height: auto;
                    width: auto;
                    bottom: 0;
                    left: 50%;
                    position: relative;
                    transform: translate(-50%, 0);
                }
            }
        }
        &[data-current="1"]{
            .contentWrap {
                margin-left: 0;
            }
        }
        &[data-current="2"]{
            .contentWrap {
                margin-left: -100vw;
            }
        }
        &[data-current="3"]{
            .contentWrap {
                margin-left: -200vw;
            }
        }
        &[data-current="4"]{
            .contentWrap {
                margin-left: -300vw;
            }
        }
        .dots {
            position: absolute;
            bottom: 80px;
            z-index: 6;
            left: 50%;
            height: 15px;
            transform: translate(-50%, 0);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            span {
                height: 15px;
                width: 15px;
                background: white;
                border-radius: 50%;
                margin: 0 3px;
                opacity: 0.3;
                transition: .2s $cubic;
            }
        }
        &[data-current="1"] .dots {
            span:nth-child(1){
                opacity: 0.8;
            }
        }
        &[data-current="2"] .dots {
            span:nth-child(2){
                opacity: 0.8;
            }
        }
        &[data-current="3"] .dots {
            span:nth-child(3){
                opacity: 0.8;
            }
        }
        &[data-current="4"] .dots {
            span:nth-child(4){
                opacity: 0.8;
            }
        }
        &::after {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 40px;
            background: url(../img/content-before.png) center center no-repeat;
            background-size: cover;
            z-index: 25;
        }
    }
    .musicVideo {
        display: flex;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        padding: 15px;
        margin-top: 0px;
        background: $black;
        .video {
            width: 100%;
            height: calc(((100vw - 30px) / 16) * 9);
        }
    }
}