@charset "UTF-8";
@font-face {
  font-family: "primetime";
  src: url("../fonts/primetime.woff") format("woff2"), url("../fonts/primetime.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: proxima-nova, sans-serif;
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  margin: 0;
  overflow-x: hidden;
}
body a {
  text-decoration: none;
}
body ivory-view {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  user-select: none;
  transition: 0.3s ease-in-out;
  width: 100%;
}
body ivory-view.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  user-select: auto;
}
body ivory-view section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background: #020001;
}
body ivory-view section.scroll .header.black {
  background: #F7A6B9;
}
body ivory-view section.scroll .header.pink {
  background: #020001;
}
body ivory-view section .header {
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 50;
  -webkit-transform: translate(1px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s cubic-bezier(0.645, 0.645, 0.355, 1);
  top: 0;
  left: 0;
}
body ivory-view section .header .logo {
  color: inherit;
  font-family: primetime, sans-serif;
  letter-spacing: 1px;
  border: 3px solid;
  padding: 5px;
  margin-left: 15px;
  position: relative;
  z-index: 51;
}
body ivory-view section .header .logo span {
  float: left;
}
body ivory-view section .header .logo .vertical {
  transform: scale(-1, -1);
}
body ivory-view section .header .logo .horizontal {
  transform: scale(-1, 1);
  margin-right: 1px;
}
body ivory-view section .header .burger {
  height: 30px;
  width: 30px;
  margin-right: 15px;
  position: relative;
  cursor: pointer;
}
body ivory-view section .header .burger input[type=checkbox] {
  height: 100%;
  width: 100%;
  margin: 0;
  position: absolute;
  opacity: 0;
  z-index: 51;
}
body ivory-view section .header .burger span {
  height: 2px;
  pointer-events: none;
  width: 20px;
  margin: 5px 0 0 10px;
  border-radius: 2px;
  display: block;
  transform-origin: right;
  transition: 0.2s cubic-bezier(0.645, 0.645, 0.355, 1);
  position: relative;
  z-index: 51;
}
body ivory-view section .header .burger span:nth-child(3) {
  transition-delay: 0.2s;
}
body ivory-view section .header .burger span:nth-child(2), body ivory-view section .header .burger span:nth-child(4) {
  transition-delay: 0s;
}
body ivory-view section .header .burger nav {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: #F7A6B9;
  top: 0;
  left: 0;
  z-index: 50;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transition: 0.3s cubic-bezier(0.645, 0.645, 0.355, 1);
  transform: scale(0.95);
  transition-delay: 0.2s;
}
body ivory-view section .header .burger nav ul.mainNav {
  width: 100%;
  margin: 100px 0 0;
  list-style: none;
  padding: 0;
}
body ivory-view section .header .burger nav ul.mainNav li {
  width: 100%;
  font-family: primetime, sans-serif;
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
body ivory-view section .header .burger nav ul.mainNav li a {
  text-decoration: none;
  color: inherit;
}
body ivory-view section .header .burger nav ul.socialMedia {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
}
body ivory-view section .header .burger nav ul.socialMedia li {
  height: 50px;
  width: 50px;
  background: #020001;
  border-radius: 4px;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
}
body ivory-view section .header .burger nav ul.socialMedia li a {
  text-decoration: none;
  color: #F7A6B9;
  font-size: 1.25rem;
}
body ivory-view section .header .burger input[type=checkbox]:checked ~ nav {
  opacity: 1;
  user-select: auto;
  pointer-events: auto;
  transform: scale(1);
}
body ivory-view section .header .burger input[type=checkbox]:checked ~ span:nth-child(2) {
  transition-delay: 0.2s;
  transform: rotate(-45deg);
}
body ivory-view section .header .burger input[type=checkbox]:checked ~ span:nth-child(3) {
  transition-delay: 0s;
  opacity: 0;
}
body ivory-view section .header .burger input[type=checkbox]:checked ~ span:nth-child(4) {
  transition-delay: 0.2s;
  transform: rotate(45deg);
}
body ivory-view section .header.black {
  color: #020001;
}
body ivory-view section .header.black .logo {
  border-color: #020001;
}
body ivory-view section .header.black .logo span {
  color: #020001;
}
body ivory-view section .header.black .burger span {
  background: #020001;
}
body ivory-view section .header.black .burger nav {
  background: #F7A6B9;
}
body ivory-view section .header.black .burger nav ul.socialMedia li {
  background: #020001;
}
body ivory-view section .header.black .burger nav ul.socialMedia li a {
  color: #F7A6B9;
}
body ivory-view section .header.pink {
  color: #F7A6B9;
}
body ivory-view section .header.pink .logo {
  border-color: #F7A6B9;
}
body ivory-view section .header.pink .logo span {
  color: #F7A6B9;
}
body ivory-view section .header.pink .burger span {
  background: #F7A6B9;
}
body ivory-view section .header.pink .burger nav {
  background: #020001;
}
body ivory-view section .header.pink .burger nav ul.socialMedia li {
  background: #F7A6B9;
}
body ivory-view section .header.pink .burger nav ul.socialMedia li a {
  color: #020001;
}
body .loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #020001;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s cubic-bezier(0.645, 0.645, 0.355, 1);
  white-space: nowrap;
}
body .loading article {
  user-select: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  color: #F7A6B9;
  opacity: 1;
  letter-spacing: 5px;
  font-family: primetime, sans-serif;
  font-size: 1.2rem;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-delay: 1.3s;
  white-space: nowrap;
}
body .loading article span {
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 0.5s;
  float: left;
}
body .loading article span.vertical {
  transform: rotate(180deg);
  margin: -1px 5px 0 -5px;
}
body .loading article span.horizontal {
  transform: scale(-1, 1);
  margin: 0 4px 0 -5px;
}
body .loading article span.flip {
  transform: rotate(185deg);
  margin: -1px 4px 0 -5px;
}
body.loading .loading {
  opacity: 1;
  pointer-events: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
.home {
  position: relative;
  background: url(../img/home/landing-bg.png) center center no-repeat;
  background-size: cover;
}
.home .slider {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}
.home .slider .contentWrap {
  width: 400%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  transition: 0.3s cubic-bezier(0.645, 0.645, 0.355, 1);
  margin-top: 60px;
}
.home .slider .contentWrap .item {
  width: 25%;
  position: relative;
  z-index: 5;
}
.home .slider .contentWrap .item img {
  max-width: 100%;
  max-height: calc(100vh - 120px);
  height: auto;
  width: auto;
  bottom: 0;
  left: 50%;
  position: relative;
  transform: translate(-50%, 0);
}
.home .slider[data-current="1"] .contentWrap {
  margin-left: 0;
}
.home .slider[data-current="2"] .contentWrap {
  margin-left: -100vw;
}
.home .slider[data-current="3"] .contentWrap {
  margin-left: -200vw;
}
.home .slider[data-current="4"] .contentWrap {
  margin-left: -300vw;
}
.home .slider .dots {
  position: absolute;
  bottom: 80px;
  z-index: 6;
  left: 50%;
  height: 15px;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.home .slider .dots span {
  height: 15px;
  width: 15px;
  background: white;
  border-radius: 50%;
  margin: 0 3px;
  opacity: 0.3;
  transition: 0.2s cubic-bezier(0.645, 0.645, 0.355, 1);
}
.home .slider[data-current="1"] .dots span:nth-child(1) {
  opacity: 0.8;
}
.home .slider[data-current="2"] .dots span:nth-child(2) {
  opacity: 0.8;
}
.home .slider[data-current="3"] .dots span:nth-child(3) {
  opacity: 0.8;
}
.home .slider[data-current="4"] .dots span:nth-child(4) {
  opacity: 0.8;
}
.home .slider::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 40px;
  background: url(../img/content-before.png) center center no-repeat;
  background-size: cover;
  z-index: 25;
}
.home .musicVideo {
  display: flex;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 15px;
  margin-top: 0px;
  background: #020001;
}
.home .musicVideo .video {
  width: 100%;
  height: calc(((100vw - 30px) / 16) * 9);
}

@media only screen and (min-width: 500px) {
  .home .musicVideo .video {
    width: 500px;
    height: calc((500px / 16) * 9);
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1024px) {
  .home .slider .contentWrap {
    width: calc(100% - 100px);
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 1200px;
  }
  .home .slider .contentWrap .item img {
    max-width: 100%;
    max-height: calc(100% - 120px);
  }
  .home .slider[data-current="1"] .contentWrap, .home .slider[data-current="2"] .contentWrap, .home .slider[data-current="3"] .contentWrap, .home .slider[data-current="4"] .contentWrap {
    margin-left: 0;
  }
  .home .slider .dots {
    display: none;
  }
  .home .musicVideo .video {
    width: calc(100vw - 400px);
    height: calc(((100vw - 400px) / 16) * 9);
    max-width: 1000px;
    max-height: calc((1000px / 16) * 9);
  }
}
.about {
  height: 100vh;
  width: 100%;
  background: #020001;
  position: relative;
}
.about h1 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
  margin-top: 90px;
}
.about p {
  font-size: 1rem;
  color: #ffffff;
  box-sizing: border-box;
  padding: 0 30px;
  font-weight: 500;
}
.about .members {
  width: calc(100vw - 60px);
  height: calc(100vw - 60px);
  display: block;
  margin: 75px 30px 50px;
}
.about .members article {
  display: inline-block;
  width: calc((100% - 15px) / 2);
  float: left;
  height: calc((100% - 15px) / 2);
}
.about .members article img {
  height: 100%;
  width: 100%;
}
.about .members article:nth-child(even) {
  margin-left: 15px;
}
.about .members article:nth-child(3), .about .members article:nth-child(4) {
  margin-top: 15px;
}

@media only screen and (min-width: 500px) {
  .about .members {
    width: 440px;
    height: 440px;
    margin: 75px calc((100vw - 440px) / 2) 50px;
  }
}
@media only screen and (min-width: 900px) {
  .about .aboutWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 100px);
    max-width: 850px;
  }
  .about .members {
    width: calc(100% - 60px);
    margin: 75px 30px 50px;
    height: auto;
  }
  .about .members article {
    width: calc((100% - 60px) / 4);
    height: auto;
    margin-right: 15px;
  }
  .about .members article:nth-child(even) {
    margin-left: 0;
  }
  .about .members article:nth-child(3), .about .members article:nth-child(4) {
    margin-top: 0;
  }
}
#aboutLisa .landing, #aboutJennie .landing, #aboutJisoo .landing, #aboutRose .landing {
  height: calc(100vh - 80px);
  width: 100%;
  position: relative;
  display: inline-block;
  float: left;
}
#aboutLisa .landing:after, #aboutJennie .landing:after, #aboutJisoo .landing:after, #aboutRose .landing:after {
  position: absolute;
  content: "";
  background: url("../img/content-before.png") no-repeat center center;
  background-size: cover;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 40px;
}
#aboutLisa .landing img, #aboutJennie .landing img, #aboutJisoo .landing img, #aboutRose .landing img {
  display: none;
}
#aboutLisa .content, #aboutJennie .content, #aboutJisoo .content, #aboutRose .content {
  background: #020001;
}
#aboutLisa .content h1, #aboutJennie .content h1, #aboutJisoo .content h1, #aboutRose .content h1 {
  width: 100%;
  text-align: center;
  color: #ffffff;
  display: inline-block;
  margin: 0;
  font-size: 5rem;
  transform: translate(0, -75%);
  text-transform: uppercase;
}
#aboutLisa .content h2, #aboutJennie .content h2, #aboutJisoo .content h2, #aboutRose .content h2 {
  width: 100%;
  text-align: left;
  color: #ffffff;
  display: inline-block;
  margin: 0;
  font-size: 2rem;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 0 25px;
}
#aboutLisa .content p, #aboutJennie .content p, #aboutJisoo .content p, #aboutRose .content p {
  margin: 0;
  color: #ffffff;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  padding: 25px;
  font-family: proxima-nova, sans-serif;
}
#aboutLisa .content .instagramfeed, #aboutJennie .content .instagramfeed, #aboutJisoo .content .instagramfeed, #aboutRose .content .instagramfeed {
  width: 100vw;
  height: 100vw;
  padding-bottom: 15px;
}
#aboutLisa .content .instagramfeed .feed, #aboutJennie .content .instagramfeed .feed, #aboutJisoo .content .instagramfeed .feed, #aboutRose .content .instagramfeed .feed {
  display: grid;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 25px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}
#aboutLisa .content .instagramfeed .feed .post, #aboutJennie .content .instagramfeed .feed .post, #aboutJisoo .content .instagramfeed .feed .post, #aboutRose .content .instagramfeed .feed .post {
  width: 100%;
  height: 100%;
}
#aboutLisa .content .instagramfeed .feed .post a, #aboutJennie .content .instagramfeed .feed .post a, #aboutJisoo .content .instagramfeed .feed .post a, #aboutRose .content .instagramfeed .feed .post a {
  display: block;
  overflow: hidden;
}
#aboutLisa .content .instagramfeed .feed .post img, #aboutJennie .content .instagramfeed .feed .post img, #aboutJisoo .content .instagramfeed .feed .post img, #aboutRose .content .instagramfeed .feed .post img {
  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
}
#aboutLisa .content .instagramfeed .feed .post:nth-child(1), #aboutJennie .content .instagramfeed .feed .post:nth-child(1), #aboutJisoo .content .instagramfeed .feed .post:nth-child(1), #aboutRose .content .instagramfeed .feed .post:nth-child(1) {
  grid-row: 1;
  grid-column: 1;
}
#aboutLisa .content .instagramfeed .feed .post:nth-child(2), #aboutJennie .content .instagramfeed .feed .post:nth-child(2), #aboutJisoo .content .instagramfeed .feed .post:nth-child(2), #aboutRose .content .instagramfeed .feed .post:nth-child(2) {
  grid-row: 1;
  grid-column: 2;
}
#aboutLisa .content .instagramfeed .feed .post:nth-child(3), #aboutJennie .content .instagramfeed .feed .post:nth-child(3), #aboutJisoo .content .instagramfeed .feed .post:nth-child(3), #aboutRose .content .instagramfeed .feed .post:nth-child(3) {
  grid-row: 1;
  grid-column: 3;
}
#aboutLisa .content .instagramfeed .feed .post:nth-child(4), #aboutJennie .content .instagramfeed .feed .post:nth-child(4), #aboutJisoo .content .instagramfeed .feed .post:nth-child(4), #aboutRose .content .instagramfeed .feed .post:nth-child(4) {
  grid-row: 2;
  grid-column: 1;
}

#aboutLisa .landing {
  background: url("../img/members/lisa-landing.png") no-repeat 75% center;
  background-size: cover;
}

#aboutJennie .landing {
  background: url("../img/members/jennie-landing.png") no-repeat center center;
  background-size: cover;
}

#aboutJisoo .landing {
  background: url("../img/members/jisoo-landing.png") no-repeat 45% center;
  background-size: cover;
}

#aboutRose .landing {
  background: url("../img/members/rose-landing.png") no-repeat center center;
  background-size: cover;
}

@media only screen and (min-width: 1024px) {
  #aboutLisa .landing, #aboutJennie .landing, #aboutJisoo .landing, #aboutRose .landing {
    background: url("../img/home/landing-bg.png") no-repeat center center;
    background-size: cover;
  }
  #aboutLisa .landing img, #aboutJennie .landing img, #aboutJisoo .landing img, #aboutRose .landing img {
    display: block;
    position: absolute;
    height: calc(100% - 120px);
    width: auto;
    bottom: 0;
    left: calc(((100vw - 1024px) / 2) + 50px);
  }
  #aboutLisa .landing::before, #aboutJennie .landing::before, #aboutJisoo .landing::before, #aboutRose .landing::before {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 10rem;
    font-weight: bold;
    position: absolute;
    right: calc((100vw - 50px - 285px) / 2);
    top: 50%;
    transform: translate(50%, -50%);
  }
  #aboutLisa .content h1, #aboutJennie .content h1, #aboutJisoo .content h1, #aboutRose .content h1 {
    display: none;
  }
  #aboutLisa .content h2, #aboutJennie .content h2, #aboutJisoo .content h2, #aboutRose .content h2 {
    margin: 50px calc((100% - 824px) / 2) 0;
    max-width: 824px;
  }
  #aboutLisa .content p, #aboutJennie .content p, #aboutJisoo .content p, #aboutRose .content p {
    margin: 0 calc((100% - 824px) / 2);
    max-width: 824px;
  }
  #aboutLisa .content .instagramfeed, #aboutJennie .content .instagramfeed, #aboutJisoo .content .instagramfeed, #aboutRose .content .instagramfeed {
    max-width: 824px;
    margin: 0 calc((100% - 824px) / 2) 50px;
    max-height: 809px;
  }
  #aboutLisa .content .instagramfeed .feed, #aboutJennie .content .instagramfeed .feed, #aboutJisoo .content .instagramfeed .feed, #aboutRose .content .instagramfeed .feed {
    grid-row-gap: 25px;
    grid-column-gap: 25px;
  }

  #aboutLisa .landing::before {
    content: "lisa";
  }

  #aboutJennie .landing::before {
    content: "jennie";
  }

  #aboutJisoo .landing::before {
    content: "jisoo";
  }

  #aboutRose .landing::before {
    content: "rosé";
  }
}
#music h2 {
  width: 100%;
  text-align: left;
  color: #ffffff;
  display: inline-block;
  margin: 0;
  font-size: 2rem;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 0 35px;
  margin-top: 75px;
  margin-bottom: 35px;
}
#music #albums {
  width: 100%;
}
#music #albums .album {
  width: 100%;
  box-sizing: border-box;
  padding: 0 35px;
  position: relative;
  margin-bottom: 25px;
}
#music #albums .album input[type=checkbox] {
  position: absolute;
  top: 0;
  left: 35px;
  width: calc(100% - 70px);
  height: 50px;
  margin: 0;
  opacity: 0;
  outline: none;
}
#music #albums .album .song {
  display: none;
}
#music #albums .album h1 {
  background: #F7A6B9;
  color: #020001;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1rem;
  box-sizing: border-box;
  padding: 15px;
  margin: 0;
}
#music #albums .album iframe {
  width: 100%;
  height: calc(((100vw - 70px) / 16) * 9);
  margin-top: 15px;
}
#music #albums .album h3 {
  color: #ffffff;
  font-size: 1rem;
  margin: 0;
  padding: 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
}
#music #albums .album .links {
  flex-direction: row;
  border-top: 1px solid #020001;
  margin-top: -1px;
  display: none;
}
#music #albums .album .links div {
  background: #ffffff;
  color: #020001;
  height: 40px;
  width: 40px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  pointer-events: none;
  font-size: 1.2rem;
  margin-right: 15px;
}
#music #albums .album input[type=checkbox]:checked ~ .song {
  display: block;
}
#music #albums .album input[type=checkbox]:checked ~ .links {
  display: flex;
}

@media only screen and (min-width: 1024px) {
  #music h2 {
    max-width: 1024px;
    margin: 75px calc((100vw - 1024px) / 2) 35px;
  }
  #music #albums {
    max-width: 1024px;
    margin: 0 auto;
  }
  #music #albums .album {
    min-height: calc((((1024px - 50px) / 2) / 16) * 9);
  }
  #music #albums .album h1 {
    padding: 15px;
    margin: 0;
    width: calc((100% - 50px) / 2);
  }
  #music #albums .album .song {
    display: block;
  }
  #music #albums .album iframe {
    width: calc((100% - 50px) / 2);
    height: calc((((1024px - 50px) / 2) / 16) * 9);
    margin-top: 15px;
    float: right;
    display: none;
  }
  #music #albums .album h3 {
    margin: 0;
    padding: 15px 0;
    width: calc((100% - 50px) / 2);
  }
  #music #albums .album .links {
    border-top: 1px solid #020001;
    margin-top: -1px;
    display: flex;
  }
  #music #albums .album .song {
    display: block;
  }
  #music #albums .album .song:nth-child(3) iframe {
    display: block;
    margin-top: -50px;
  }
}
#videos h2 {
  width: 100%;
  text-align: left;
  color: #ffffff;
  display: inline-block;
  margin: 0;
  font-size: 2rem;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 0 35px;
  margin-top: 75px;
  margin-bottom: 35px;
  position: relative;
}
#videos h2 .vlivelogo {
  background: url("../img/videos/vlive-logo.png") no-repeat center center;
  height: 32px;
  width: 104px;
  position: absolute;
  top: 3px;
  display: inline-block;
  margin-left: 15px;
}
#videos #vlives {
  width: calc(100% - 70px);
  margin: 0 35px;
}
#videos #vlives .vlive {
  width: 100%;
  margin: 0;
  height: auto;
  position: relative;
  margin-bottom: 10px;
}
#videos #vlives .vlive img {
  width: 100%;
  height: auto;
}
#videos #vlives .vlive .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 23px));
  background: #F7A6B9;
  color: #ffffff;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  line-height: 77px;
  vertical-align: middle;
  text-align: center;
  font-size: 2rem;
}
#videos #vlives .vlive .overlay i {
  margin-left: 6px;
}
#videos #vlives .vlive h1 {
  color: #ffffff;
  margin: 0;
  font-size: 1.1rem;
  font-weight: 800;
  font-style: normal;
  margin-top: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#videos #vlives .vlive h3 {
  color: #ffffff;
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  font-style: normal;
  opacity: 0.65;
  text-transform: uppercase;
}

@media only screen and (min-width: 900px) {
  #videos #vlives .vlive {
    display: inline-block;
    float: left;
    width: calc((100% - 35px) / 2);
    margin-bottom: 25px;
  }
  #videos #vlives .vlive img {
    min-height: calc((100% / 16) * 9);
  }
  #videos #vlives a:nth-child(even) .vlive {
    margin-left: 35px;
  }
}
@media only screen and (min-width: 1024px) {
  #videos h2 {
    max-width: 1024px;
    margin: 75px calc((100vw - 1024px) / 2) 35px;
  }
  #videos #vlives {
    max-width: 1024px;
    margin: 0 calc((100vw - 1024px) / 2);
  }
}
#store h2 {
  width: 100%;
  max-width: 550px;
  text-align: left;
  color: #ffffff;
  display: inline-block;
  margin: 0;
  font-size: 2rem;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 0 35px;
  margin-top: 75px;
  margin-bottom: 35px;
  position: relative;
  margin: 75px calc((100vw - 550px) / 2) 35px;
}
#store #products {
  width: 100%;
  max-width: 550px;
  box-sizing: border-box;
  padding: 0 35px;
  margin: 0 auto;
}
#store #products .productsWrapper {
  width: 100%;
}
#store #products .productsWrapper a {
  text-decoration: none;
}
#store #products .productsWrapper .product {
  width: 100%;
  height: auto;
  position: relative;
  float: left;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
}
#store #products .productsWrapper .product.preorder {
  padding-bottom: 26px;
}
#store #products .productsWrapper .product.preorder::before {
  position: absolute;
  content: "preorder";
  text-transform: uppercase;
  left: 0;
  bottom: 0;
  width: 100px;
  background: #F7A6B9;
  color: #020001;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
  padding: 5px 0;
}
#store #products .productsWrapper .product.new {
  padding-top: 20px;
}
#store #products .productsWrapper .product.new::after {
  top: 0;
  left: 100px;
  transform: translate(-100%, 0);
  background: red;
  padding: 0 10px;
  color: #ffffff;
  content: "new";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
  position: absolute;
  padding: 2px 7px;
}
#store #products .productsWrapper .product img {
  height: 100px;
  width: 100px;
  min-width: 100px;
}
#store #products .productsWrapper .product .info {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 15px;
  justify-content: center;
}
#store #products .productsWrapper .product .info p {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
}
#store #products .productsWrapper .product .info p.price {
  opacity: 0.65;
}

@media only screen and (min-width: 1024px) {
  #store h2 {
    max-width: 1024px;
    margin: 75px calc((100% - 1024px) / 2) 35px;
  }
  #store #products {
    max-width: 1024px;
  }
  #store #products .productsWrapper a:nth-child(3n+2) .product {
    margin: 0 35px;
  }
  #store #products .productsWrapper .product {
    width: calc((100% - 70px) / 3);
    flex-direction: column;
  }
  #store #products .productsWrapper .product.preorder {
    padding-bottom: 0;
  }
  #store #products .productsWrapper .product.preorder::before {
    left: 0;
    top: 0;
    bottom: auto;
  }
  #store #products .productsWrapper .product.new {
    padding-top: 0;
  }
  #store #products .productsWrapper .product.new::after {
    top: 0;
    left: auto;
    right: 0;
    transform: translate(0, 0);
  }
  #store #products .productsWrapper .product img {
    width: 100%;
    height: auto;
    background: #ffffff;
  }
  #store #products .productsWrapper .product .info {
    margin-top: 10px;
    padding-left: 0;
  }
}
@media only screen and (max-width: 327px) {
  body .loading article {
    font-size: 1.1rem;
  }
}

/*# sourceMappingURL=main.css.map */
